<h1>Secrets#index</h1>
<% @secrets.each do |secret| %>
  <div>
      <!--Secret Content that everyone can see !-->
      <p><%= secret.content %></p>
      <% if current_user == secret.user %>
        <!-- # Secret Content that only the User that created that secret can see.  !--> 
         <form action="/secrets/<%= secret.id %>"  method="post">
          <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="delete">
          <div class="form-group">            
              <button type="submit" class="btn btn-default">Delete Secret</button>
          </div>         
        </form>
      <% end %>
  </div>

  <div>
      <p><%= secret.likes.size %> likes</p>
      <% if !secret.users.include?(current_user) %>
       <form action="/likes/<%= secret.id %>"  method="post">
          <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">      
          <div class="form-group">            
              <button type="submit" class="btn btn-default">Like</button>
          </div>         
        </form>
      <% else %>           
           <form action="/likes/<%= get_like_id_for_user secret %>"  method="post">
          <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="delete">
          <div class="form-group">            
              <button type="submit" class="btn btn-default">Unlike</button>
          </div>         
        </form>

      <% end %>
  </div>
<% end %>
